@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-input {
    @apply py-2 px-4 rounded w-full placeholder:text-[#00000080] placeholder:text-[12px] text-[14px] text-[black] border hover:border-[#00000080];
}

.login-input {
    @apply py-2 px-4 rounded w-full placeholder:text-[#00000080] placeholder:text-[12px] text-[14px] text-[black] border border-[#00000080] hover:border-[#f3f3f3] focus-visible:border-[#f3f3f3];
}

.login-input-label {
    @apply text-[#1f2432] text-[14px];
}

.custom-radio {
    @apply cursor-pointer select-none rounded-[20px] py-[7px] text-center peer-checked:bg-[#000c] peer-checked:text-[white] text-[14px] font-medium w-[90px] px-1 max-w-[90px] flex flex-col justify-center items-center capitalize border border-[#000c]
}

.sidemenu_btn {
    @apply px-4 py-3 mx-5 rounded-md flex gap-x-3 items-center cursor-pointer transition-colors font-semibold hover:transition-all ease-in delay-100 duration-300 text-[#f3f3f3] hover:bg-menu_secondary border border-[transparent] hover:border-[#f3f3f35e] hover:text-[white]
}

.disable_input {
    @apply bg-[#d2d2d259] border border-[transparent] hover:border-none
}

.form_col {
    @apply grid grid-cols-2 py-[4px] 
}

.form_label_head {
    @apply 2xl:text-[15px] text-[13px] 
}

.form_info {
    @apply 2xl:text-[16px] text-[14px]
}

.form_heading {
    @apply whitespace-nowrap capitalize lg:text-[16px] text-[14px] font-medium
}

/* .login-btn {
    background: linear-gradient(54deg, #383260, #d3d0e7)
} */
.login-btn {
    background: rgb(144, 8, 48);
    background: linear-gradient(265deg, rgba(144, 8, 48, 1) 0%, rgba(98, 0, 0, 1) 100%);
}

@media (max-width:768px) {
    .inputDiv {
        width: 100%;
        height: fit-content !important;
    }

    .inputDiv input {
        width: 100%;
        height: fit-content !important;
    }
}
/* -------- new css --------- */
.custom_container {
    @apply w-[90%] lg:w-[80%] md:px-[20px] mx-auto
  }
  
  .list_heading {
    @apply mr-2 font-bold text-left font-[segoe-ui] text-black whitespace-nowrap text-[20px] min-[640px]:text-[21px] min-[768px]:text-[21px] min-[1200px]:text-[23px] min-[1366px]:text-[24px] min-[1536px]:text-[28px] min-[1666px]:text-[32px] min-[1750px]:text-[35px]
  }
  
  .list_style {
    @apply text-[16px] min-[640px]:text-[18px] min-[1200px]:text-[20px] min-[1536px]:text-[22px] min-[1666px]:text-[25px] min-[1750px]:text-[30px]
  }
  
  .section_head {
    @apply whitespace-nowrap text-left font-[genkaimincho] font-normal text-black uppercase text-[30px] min-[786px]:text-[32px] min-[1200px]:text-[36px] min-[1366px]:text-[40px] min-[1536px]:text-[48px] min-[1666px]:text-[53px] min-[1750px]:text-[60px]
  }
  
  .matrimonial_Image {
    background: url("/background-imgs.png");
    /* background: url("/background_mobile.png"); */
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .ourprocess_bg {
    background: url("/matrimonial/MissionPage_.png");
    height: calc(100vh - 70px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  
  .Line_1 {
    overflow: visible;
    position: absolute;
    width: 580.011px;
    height: 5.5px;
    left: 2.5px;
    top: 70px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  
  #Line_1 {
    fill: transparent;
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
  
  .navbar {
    background: linear-gradient(45deg, #f8f4ed, #daaf63);
    box-shadow: rgb(221 212 199) 0px 13px 27px -5px, rgb(244 237 229) 0px 8px 16px -8px;
  }
  
  @media (max-width:1800px) {
  .matrimonial_Image{
    background-position: center;
  }
    .Line_1 {
      width: 455.011px;
      top: 55px;
    }
  }
  @media (max-width:1666px) {
  .matrimonial_Image{
    background-position: center;
  }
    .Line_1 {
      width: 350.011px;
      top: 42px;
    }
  }
  
  @media (max-width:1536px) {
    .Line_1 {
      width: 480.011px;
      top: 60px;
    }
  }
  
  @media (max-width: 1023.11px) and (min-width: 767px) {
  
    .Line_1 {
      width: 415.011px;
      top: 50px;
    }
  
    .ourprocess_bg,
    .core_bg,
    .mission_bg {
      height: auto;
    }
  
    .ourprocess_bg {
      padding: 50px 0;
    }
  
    .core_bg {
      padding: 20px 0;
    }
  
    .mission_bg {
      padding: 100px 0;
    }
  
  }
  
  @media (max-width: 840px) {
    .ourprocess_bg {
      height: auto;
    }
  }
  
  @media (max-width: 766.999px) {
    .matrimonial_Image {
      background: url("/background_mobile.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: calc(100vh - 70px);
    }
  
    .ourprocess_bg {
      background: url("/matrimonial/MissionPage_.png");
      background-position: center;
      background-repeat: repeat !important;
      background-size: auto;
      margin-top: 0;
      padding: 50px 0;
    }
  
    .Line_1 {
      width: 340.011px;
      top: 50px;
    }
  
    .mission_bg {
      padding: 100px 0;
    }
  }
  
  @media (max-width:640px) {
    .Line_1 {
      width: 280px;
      top: 40px;
    }
  }
  
  @media (max-width:425px) {
    .mission_bg {
      height: calc(100vh - 70px);
      padding: 50px 0;
    }
  }